h1{
    border-bottom: 3px solid #C75A32 ;
    text-align: center;
    width: 42%;
    margin-left: 29%;
    padding-bottom: 1%;
    margin-top: 2%;
    font-family: monospace;
}
.list{
    display: flex;
    
    float: left;
}
.port{
    height: 190px;
    border-radius: 3px;
    
}
.details{
    background-color: #608E94;
    border: 0px;
    float: right;
   
}
.pagination{
    justify-content: center;
    
}
.filtrado{
    border-top:2px solid #C75A32;
    width: 1200px;
    padding-top: 1%;

}
.title{
    display: grid;
    justify-content: center;
}
.result{
    margin-left: 3%;
    margin-top: 3%;
    font-size: 0.5cm;
    
}
.game{
    width: 1000px;
}
.cursor{
    cursor: pointer;
}
.add{
    background-color: #43844B;
    color: white;
}
 .bodyCard{
  width: 700px;
}
.imageBody{
  width: 350px;
} 

@media screen and (max-width: 768px) {
    h1 {
      width: 80%;
      margin-left: 10%;
    }
    .list {
      flex-direction: column;
    }
    .card {
      width: 100%;
    }
    .port{
        width: 100%;
    }
    .bodyCard{
      width: auto;
    }
    .imageBody{
      width: auto;
    } 
  }

  @media screen and (max-width: 767px) {
    h1 {
      width: 80%;
      margin-left: 10%;
    }
    .list {
      flex-direction: column;
    }
    .card {
      width: 100%;
    }
    .port{
        width: 100%;
    }
    .list{
        margin-bottom: 70%;
    }
    .bodyCard{
      width: auto;
    }
    .imageBody{
      width: auto;
    } 
   
  }