

    <h1 class="title">Your profile</h1>
    <section class="vh-100" style="padding-bottom: 15%; margin-right: 2%;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100" style="padding-left: 3%;">
          <div class="col-12 col-md-8 col-lg-6 col-xl-7">
            <div class="card shadow-2-strong shadow contain" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center content">
                <!--Vinculamos el formulario con nuestro FormGroup-->
                <form [formGroup]="myForm" enctype="multipart/form-data" method="post">
                  <!--Diferenciamos is estamos editando o añadiendo para mostarra el id-->
    
                <div class="text-center" style="margin-bottom: 1cm;">
                    @if (image) {
                        <img src="{{image}}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                          width="200px" alt="profile">
                    }@else {
                        <img src="../../../assets/img/iconUser.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                          width="200px" alt="profile">
                    }
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label formTitle" for="username"><span class="oblig">*</span> Username</label>
                  <input type="text" id="username" class="form-control form-control-lg" readonly formControlName="username"/>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label formTitle" for="name"><span class="oblig">*</span> Name</label>
                  <input type="text" id="name" class="form-control form-control-lg" formControlName="name" [readOnly]="disabledField"/>
                  <span class="form-text text-danger">{{nameErrosMsg}}</span>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label formTitle" for="email"><span class="oblig">*</span> Email</label>
                  <input type="text" id="email" class="form-control form-control-lg" formControlName="email" [readOnly]="disabledField"/>
                  <span class="form-text text-danger">{{emailErrosMsg}}</span>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label formTitle" for="address"><span class="oblig">*</span> Address</label>
                  <input type="text" id="address" class="form-control form-control-lg" formControlName="address" placeholder="Ej: 3" [readOnly]="disabledField"/>
                  <span class="form-text text-danger" *ngIf="isValid('address')">Address is requierd</span>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label formTitle" for="phone"><span class="oblig">*</span> Phone</label>
                    <input type="text" id="phone" class="form-control form-control-lg" formControlName="phone" placeholder="Ej: 3" [readOnly]="disabledField"/>
                    <span class="form-text text-danger">{{phoneErrosMsg}}</span>
                  </div>
    
                <label class="form-label formTitle" for="categories"><span class="oblig">*</span> Password</label>
                <div class="input-group">
                  <input type="number" id="stock" class="form-control form-control-lg" formControlName="phone" placeholder="Ej: 3" [readOnly]="disabledField"/>
                  <button class="btn btn-lg btn-block addCategory" type="submit" title="Add category buuton">Add</button>
                </div>
                <br>
                <br>
                <div class="form-outline mb-4">
                  <label class="form-label formTitle" for="imagen"> Image</label>
                  <input type="file" id="imagen" class="form-control form-control-lg" name="image" formControlName="image" (change)="getFile($event)"/>
                </div>
                @if (disabledField) {
                    <button class="btn btn-lg btn-block edit" type="submit" title="Edit the game" (click)="activateField()">Edit <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.5cm; margin-bottom: 10%;" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg></button>
                }@else {
                    <button class="btn btn-lg btn-block edit" type="submit" title="Edit the game" (click)="edit()">Comfirm <svg xmlns="http://www.w3.org/2000/svg" style="width: 0.5cm; margin-bottom: 10%;" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg></button>
    
                }
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




