@if (game) {

  <div class="list">
      <div >
          <div class="card mb-3" style="max-width: 800px; max-height: 190px; padding-left: 5%; border: 0px; margin-top: 3%;">
              <div class="row g-0" style="width: 700px;">
                <div class="col-md-4" style="padding-left: 10%; width: 350px;">
                  @if (game.image==null) {
                    <img src="../../../assets/img/Imagen_no_disponible.svg.png" class="img-fluid rounded-start port" alt="...">
                  }@else {
                    <img src="{{game.image}}" class="img-fluid rounded-start port" alt="...">
                  }
                </div>
                <div class="col-md-8" style="width: 350px;">
                  <div class="card-body">
                    <h2 class="card-title name">{{game.name}}</h2>
                    @if (game.quality=="new") {
                      <h4 class="card-text">New game</h4>
                    }@else {
                      <h4 class="card-text">Second-hand game</h4>
                      <h4 class="card-text">Seller:{{game.username}}</h4>
                    }
                    <h4 class="card-text">{{game.namePlataform}}</h4>
                    <br>
                    <p class="card-text"><small class="text-body-secondary"><span *ngFor="let category of game.listCategory">{{category.nameCategory}} | </span></small></p>
                    <a class="btn edit" routerLink="/editVideogame/{{game.idVideogame}}">Editar</a>
                    <button class="btn delete" (click)="deleteOneGame()">Borrar</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="plataform shadow">
          <h3>Price:</h3>
          <h2>{{game.price}}€</h2>
          <br>
          <button class="btn add">Añadir</button>
      </div>
  </div>
  <br>
  <br>
  <div class="list" style="text-align: center;">
      <div style="width: 40%;">
          <h2 class="details">Descripcion</h2>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quisnostrud exercitation ullamco labori
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
              pariatur. </p>
  
      </div>
  
  </div>
}


