<!--Cuando nos asefuremos que el juego contiene datos-->
@if (game) {

  <div class="list">
      <div >
          <div class="card mb-3" style="max-width: 800px; max-height: 190px; padding-left: 5%; border: 0px; margin-top: 3%;">
              <div class="row g-0 image" style="width: 700px;">
                <div class="card-body bodyTablet">
                 <h1 style="padding-left: 8%;">{{game.name}}</h1>                 
                </div>
                <!--Comprobamos si contiene imagen para poder si no una por defecto-->
                @if (game.image==null) {
                  <div class="col-md-4 tablet">
                    <img src="../../../assets/img/Imagen_no_disponible.svg.png" class="img-fluid port" alt="...">
                  </div>
                }@else {
                  <div class="col-md-4 " style="padding-left: 10%; width: 350px;">
                      <img src="{{game.image}}" class="img-fluid port" alt="...">
                  </div>
                  
                }
                <div class="card-body bodyTablet">

                  <!--Comprobamos su calidad para indicar si es nuevo o de segunda-->
                  @if (game.quality=="new") {
                    <h4 class="card-text" style="padding-left: 9%;">{{game.price}}€ <h4 style="float: right; padding-right: 43%;">New game</h4></h4>

                  }@else {
                    <h4 class="card-text" style="padding-left: 9%;">{{game.price}}€ <h4 style="float: right; padding-right: 40%;">Second-hand game</h4></h4>
                  }
      
                  <!--Parte responsiva modo tablet o movil-->
                  <div class="d-grid gap-2" style="width: 290px; margin-left: 8%; margin-top: 10%;">
                    <button class="btn add" type="button">Añadir</button>
                    <div style="display: flex; justify-content: space-around;">
                      <!--Botones que nos llevan a editar o te dan la opcion de borrar-->
                      <a class="btn edit" type="button" routerLink="/editVideogame/{{game.idVideogame}}">Editar</a>
                      <button class="btn delete" type="button" (click)="deleteOneGame()">Borra</button>
                    </div>
                  </div>                 
                </div>

                <!--Modo desktop-->
                <div class="col-md-8" style="width: 350px;">
                  <div class="card-body information">
                    <h2 class="card-title name">{{game.name}}</h2>
                    @if (game.quality=="new") {
                      <h4 class="card-text">New game</h4>
                    }@else {
                      <h4 class="card-text">Second-hand game</h4>
                      <h4 class="card-text">Seller:{{game.username}}</h4>
                    }
                    <h4 class="card-text">{{game.namePlataform}}</h4>
                    <br>
                    <p class="card-text"><small class="text-body-secondary"><span *ngFor="let category of game.listCategory">{{category.nameCategory}} | </span></small></p>
                    <!--Botones que nos llevan a editar o te dan la opcion de borrar-->
                    <a class="btn edit" routerLink="/editVideogame/{{game.idVideogame}}">Editar</a>
                    <button class="btn delete" (click)="deleteOneGame()">Borrar</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="plataform shadow">
          <h3>Price:</h3>
          <h2>{{game.price}}€</h2>
          <br>
          <button class="btn add">Añadir</button>
      </div>
  </div>
  <br>
  <br>
  <div class="list description" style="text-align: center;">
      <div style="width: 40%;">
          <h2 class="details">Descripcion</h2>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quisnostrud exercitation ullamco labori
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
              pariatur. </p>
  
      </div>
  
  </div>
}


