.title{
    border-bottom: 3px solid #C75A32 ;
    text-align: center;
    width: 42%;
    margin-left: 29%;
    margin-top: 2%;
    padding-bottom: 1%;
    font-family: monospace;

}
.subtitle{
    border-bottom: 2px solid #608E94;

}
.add{
    background-color: #43844B;
    color: white;
    float: right;
}
.oblig{
    color: #C24042;
}
table{
    font-size: 0.5cm;
}
p{
    font-size: 0.6cm;
}
.equis:hover{
    background-color: #C24042;
    color: white;
}