<h1 class="title">Shopping history</h1>
@if (listBill) {
<section class="vh-100" style="padding-bottom: 15%; margin-right: 2%;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center h-100" style="padding-left: 3%;">
        <div class="col-12 col-md-8 col-lg-6 col-xl-7" style="width: 100%;">
          <div class="card shadow-2-strong shadow contain" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center content">
                <table class="table" >
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col" (click)="sortPage('date',pageable.pageable.pageNumber+1)">Date</th>
                        <th scope="col" (click)="sortPage('totalPrice',pageable.pageable.pageNumber+1)">Total Price</th>
                        <th scope="col">Games</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr *ngFor="let bill of listBill; let i=index">
                        <td>{{bill.idBill}}</td>
                        <td>{{bill.date}}</td>
                        <td>{{bill.totalPrice}}€</td>
                        <td><button type="button" class="btn info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getGames(i)">
                                Games
                              </button></td>
                      </tr>
                    </tbody>
                </table>
                @if (pageable) {
                  <nav aria-label="Page navigation example" class="pagination">
                      <ul class="pagination">
                        <li class="page-item" *ngIf="pageable.pageable.pageNumber>0">
                          <a class="page-link" (click)="nextPage(order, 1)">First</a>
                        </li>
                        <li class="page-item"><a class="page-link" *ngIf="pageable.pageable.pageNumber>0" (click)="nextPage(order, pageable.pageable.pageNumber)">&laquo;</a></li>
                        <span *ngFor="let i of numberSequence">
                            <li class="page-item"><a class="page-link" *ngIf="i==pageable.pageable.pageNumber+1" style="border: 3px solid #C8A519; border-radius: 0px;"  (click)="nextPage(order, i)">{{i}}</a></li>
                            <li class="page-item"><a class="page-link" *ngIf="i!=pageable.pageable.pageNumber+1" style="border-radius: 0px;" (click)="nextPage(order, i)">{{i}}</a></li>

                        </span>
                        <li class="page-item"><a class="page-link" (click)="nextPage(order, pageable.pageable.pageNumber+2)"  *ngIf="pageable.pageable.pageNumber+1<pageable.totalPages">&raquo;</a></li>
                        <li class="page-item" *ngIf="pageable.pageable.pageNumber+1<pageable.totalPages">
                          <a class="page-link" (click)="nextPage(order, pageable.totalPages)">Last</a>
                        </li>
                      </ul>
                  </nav>
                
                }
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
}

@if (listBillGames) {
    <div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="border-bottom-color: white;">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Bill's games</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (listBillGames.length>0) {

                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          <tr *ngFor="let games of listBillGames; let i=index">
                            <td>{{games.nameVideogame}}</td>
                            <td>{{games.amount}}</td>
                            <td>{{games.amount}}</td>
                          </tr>
                        </tbody>
                    </table>
                }@else {
                    <h3>Error no games</h3>
                }
            </div>
            <div class="modal-footer" style="border-top-color: white;">
                <button type="button" class="btn" style="background-color: #949494; color: white;" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
}
