
img{
    width: 5cm;
}
.mov{
    display: none;
}

.color{
    /* background: rgb(67,132,75); */
    /* background: linear-gradient(0deg, rgba(67,132,75,0.333858543417367) 0%, rgba(67,132,75,0.7400210084033614) 100%); */
    background: rgb(67,132,75);
background: linear-gradient(0deg, rgba(67,132,75,0.303046218487395) 0%, rgba(67,132,75,0.4431022408963585) 100%);
}
.link{
    font-size: 0.6cm;
}

.cursor{
    cursor: pointer;
}

@media only screen and (max-width: 990px) and (min-width: 360px){
    .search{
        width: 40%;
        margin-left: 25%;
       
    }
    .menu{
        display: none;
    }
    .esc{
        display: none;
    }
    .imag{
        justify-content: center;
    }
    .mov{
        display: contents;
    }
    .imgLogo{
        width: 20%;
    }
}
@media only screen and (max-width: 768px){
    .search{
        width: 40%;
        margin-left: 25%;
       
    }
    .img{
       margin-left: 90%;
    }
    .menu{
        display: block;
        float: left;
    }
    img{
        width: 3cm;
    }
    .search{
        display: none;
    }
    .icono{
        display: none;
    }
    .esc{
        display: none
    }
    .mov{
        display: contents;
    }
    .imgLogo{
        width: 20%;
    }

    @media only screen and (max-width: 360px){
        .search{
            width: 40%;
            margin-left: 25%;
           
        }
        .menu{
            display: block;
            float: left;
        }
        img{
            width: 3cm;
        }
        .search{
            display: none;
        }
        .icono{
            display: none;
        }
        .esc{
            display: none
        }
        .mov{
            display: contents;
        }
        .imag {
            margin-left: 0;
            margin-right: auto;
            width: 19%;
        }
        .imgLogo{
            width: 20%;
        }
    }
}