
img{
    width: 5cm;
}


@media only screen and (max-width: 1000px) and (min-width: 360px){
    .search{
        width: 40%;
        margin-left: 25%;
       
    }
    .menu{
        display: none;
    }
}
.color{
    background: rgb(67,132,75);
    background: linear-gradient(0deg, rgba(67,132,75,0.333858543417367) 0%, rgba(67,132,75,0.7400210084033614) 100%);
}
@media only screen and (max-width: 360px){
    .search{
        width: 40%;
        margin-left: 25%;
       
    }
    .img{
       margin-left: 90%;
    }
    .menu{
        display: block;
        float: left;
    }
    img{
        width: 3cm;
    }
    .search{
        display: none;
    }
    .icono{
        display: none;
    }
}