<div class="containerFlex">
    <div class="title">Welcome to <b style="color: #C75A32; border-bottom: 3px solid #608E94;">Gamer Place</b><br> Place where you can sell and buy video games</div>
    <div class="slider-frame" style="height: 30%; width:60%; border-radius: 10px;margin-top: 30px;  margin-left: 30px; margin-right: 30px;">
        <ul>
            <li><a routerLink="/videogames"><img src="../../../assets/img/juegosTex.PNG" style="border-radius: 10px"></a></li>
            <li><a routerLink="/games/second"><img src="../../../assets/img/secondTex.PNG"  style="border-radius: 10px"></a></li>
            <li><a routerLink="/seller"><img src="../../../assets/img/sellerText.PNG"  style="border-radius: 10px"></a></li>
            <li><img src="../../../assets/img/juegosTex.PNG"  style="border-radius: 10px"></li>
        </ul>
    </div>
    

</div>
<div >
    <h1 class="videogame">Recent videogames</h1>
    <div class="lista1">

        <ul class="lista" *ngIf="games">
            <li *ngFor="let game of games; let i = index" style=" margin-bottom: 2cm;">
                <div class="card mov" style="height: 100%;">
                    <a routerLink="/details/{{game.idVideogame}}" routerLinkActive="active" ariaCurrentWhenActive="page">
                        @if (game.image==null) {
                            <img src="../../../assets/img/Imagen_no_disponible.svg.png"  class="card-img-top"  alt="...">
    
                        }@else {
                            <img src={{game.image}}  class="card-img-top" alt="...">
                        }
                    </a>
                    <div class="card-body">
                      <h5 class="card-title ganeTitle">{{game.name}}</h5>
                      <p class="card-text ganeDesc">{{game.description}}</p>
                      <button class="btn details" routerLink="/details/{{game.idVideogame}}">Deatails</button>
                    </div>
                  </div>
                  <br>
            </li>
            
        </ul>
      </div>
</div>
