<h1 class="title">Chat</h1>
<section class="vh-100" style="padding-bottom: 15%; margin-right: 2%;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center h-100" style="padding-left: 3%;">
        <div class="col-12 col-md-8 col-lg-6 col-xl-7" style="width: 100%;">
          <div class="card shadow-2-strong shadow contain" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center content">
              <div #scrollContainer >

               
                <ul  class="messages  lista-al-final" id="list">
                   
                  
                      <li class="message left" *ngFor="let message of messageData" 
                      [ngClass]="{'right': message.user == userId(), 'left': message.user !== userId()}">
                      <div class="avatar"></div>
                      <div *ngIf="message.status=='active' || message.status=='delete'">{{message.user}} {{message.date}}</div>
                      <div *ngIf="message.status=='edit'">{{message.user}} {{message.date}} edit message</div>
                      <div class="text_wrapper">
                          <div class="text" *ngIf="rol()!='admin'">
                            <div *ngIf="message.status!='delete'">
                              {{message.content}}
                            </div>
                            <div *ngIf="message.status=='delete'">
                              <em>This message has been deleter for admin</em>
                            </div>
                            <li *ngIf="message.user == userId() && message.status!='delete'" class="nav-item dropstart esc" style="list-style: none; margin-right: 1%;">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="User options">
                              ...
                              </a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" title="edit" (click)="editButton( message.content, message.idMessage)">Edit</a></li>
                              </ul>
                            </li>
                          </div>
                          <div class="text2" *ngIf="message.user != userId() && rol()=='admin'">
                            <div *ngIf="message.status!='delete'">
                              {{message.content}}
                            </div>
                            <div *ngIf="message.status=='delete'">
                              <em>This message has been deleter for admin</em>
                            </div>
                            <li *ngIf="message.status!='delete'"  class="nav-item dropend esc" style="list-style: none; margin-right: 1%;">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="User options">
                              ...
                              </a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" title="edit" (click)="deleteMessageMethod(message.idMessage)">Delete</a></li>
                              </ul>
                            </li>
                          </div>
                      </div>
                      </li>
                      <li class="message right" *ngFor="let messageSend of messageList"  
                  [ngClass]="{'left': messageSend.message_side == 'receiver', 'right': messageSend.message_side == 'sender'}">
                    <div class="avatar"></div>
                    <div>{{messageSend.user}} {{getDate()}}</div>
                    <div class="text_wrapper">
                        <div class="text">
                          {{messageSend.message}}
                        </div>
                    </div>
                    </li> 
                    
                </ul>
                <div class="bottom_wrapper clearfix" >
                    <div class="message_input_wrapper">
                      <input *ngIf="!editMessage" (keyup.enter)="sendMessage()" [disabled]="rol()=='admin' || userId()==''" class="message_input" placeholder="Message..." [(ngModel)]="messageInput"/>
                      <input *ngIf="editMessage" (keyup.enter)="sendMessage()" [disabled]="rol()=='admin' || userId()==''" class="message_input" placeholder="Message..." [(ngModel)]="messageInput"/>
                    </div>
                    <div *ngIf="!editMessage" class="send_message" (click)="sendMessage()">
                      <div class="icon"></div>
                      <div class="text">Send</div>
                    </div>
                    <div *ngIf="editMessage" class="send_message" (click)="editMessageMethod()">
                      <div class="icon"></div>
                      <div class="text">Edit</div>
                    </div>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<br>
<br>
<br>
