<h1 class="title">Chat</h1>
<section class="vh-100" style="padding-bottom: 15%; margin-right: 2%;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center h-100" style="padding-left: 3%;">
        <div class="col-12 col-md-8 col-lg-6 col-xl-7" style="width: 100%;">
          <div class="card shadow-2-strong shadow contain" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center content">
              <div>

               
                <ul  class="messages  lista-al-final">
                    <li class="message left" *ngFor="let message of messageData" 
                    [ngClass]="{'right': message.user == userId(), 'left': message.user !== userId()}">
                    <div class="avatar"></div>
                    <div >{{message.user}} {{message.date}}</div>
                    <div class="text_wrapper">
                        <div class="text">{{message.content}}</div>
                    </div>
                    </li>
                    <li class="message right" *ngFor="let messageSend of messageList"  
                    [ngClass]="{'left': messageSend.message_side == 'receiver', 'right': messageSend.message_side == 'sender'}">
                      <div class="avatar"></div>
                      <div>{{messageSend.user}} {{messageSend.date?.getDate()}}</div>
                      <div class="text_wrapper">
                          <div class="text">{{messageSend.message}}</div>
                      </div>
                      </li>
                </ul>
                <div class="bottom_wrapper clearfix" >
                    <div class="message_input_wrapper">
                      <input [disabled]="rol()=='admin' || userId()==''" class="message_input" placeholder="Message..." [(ngModel)]="messageInput"/>
                    </div>
                    <div class="send_message" (click)="sendMessage()" (keypress)="sendMessage()">
                    <div class="icon"></div>
                    <div class="text">Send</div>
                    </div>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
