<!--Diferenciamos is estamos editando o añadiendo-->
@if (id) {
    <h1 class="title">Edit your game</h1>
}@else {
    <h1 class="title">Add your game</h1>
}
<section class="vh-100" style="padding-bottom: 15%; margin-right: 2%;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100" style="padding-left: 3%;">
      <div class="col-12 col-md-8 col-lg-6 col-xl-7">
        <div class="card shadow-2-strong shadow contain" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center content">
            <!--Diferenciamos is estamos editando o añadiendo-->
              @if (id) {
                  <h3 class="mb-5 subtitle">Edit one of your games</h3>
              }@else {
                  <h3 class="mb-5 subtitle">Sell your game</h3>
              }
            <!--Vinculamos el formulario con nuestro FormGroup-->
            <form [formGroup]="myForm" enctype="multipart/form-data" method="post">
              <!--Diferenciamos is estamos editando o añadiendo para mostarra el id-->
              @if (id) {
                  <div class="form-outline mb-4">
                    <label class="form-label formTitle" for="typeEmailX-2"><span class="oblig">*</span> Identifier</label>
                    <input type="text" id="id" class="form-control form-control-lg" name="id" formControlName="idVideogame" readonly/>  
                  </div> 
              }
            <div class="form-outline mb-4">
              <label class="form-label formTitle" for="typeEmailX-2"><span class="oblig">*</span> Title</label>
              <input type="text" id="name" class="form-control form-control-lg" placeholder="Ej: Zelda" required formControlName="name"/>
              <!--Metod para saber si es valido-->
              <span class="form-text text-danger" >{{nameErrorsMsg}}</span>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label formTitle" for="typeEmailX-2"><span class="oblig">*</span> Description</label>
              <input type="text" id="description" class="form-control form-control-lg"   placeholder="Ej: A amazing game of avendture" formControlName="description"/>
              <span class="form-text text-danger" *ngIf="isValid('description')">The field  desciprtion is required</span>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label formTitle" for="typeEmailX-2"><span class="oblig">*</span> Price</label>
              <input type="number" id="price" class="form-control form-control-lg" formControlName="price" placeholder="Ej: 10" required/>
              <span class="form-text text-danger">{{priceErrorsMsg}}</span>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label formTitle" for="typeEmailX-2"><span class="oblig">*</span> Stock</label>
              <input type="number" id="stock" class="form-control form-control-lg" formControlName="stock" placeholder="Ej: 3" required/>
              <span class="form-text text-danger">{{stockErrorsMsg}}</span>
            </div>
            
            <div class="form-outline mb-4">
              <label class="form-label formTitle" for="typeEmailX-2"><span class="oblig">*</span> Plataform</label>
              <!--Listamos las plataformas-->
             <select class="form-select" formControlName="idPlataform">
              <option value="" selected>--Select one plataform--</option>
              @for (plata of plataform; track $index) {
                 <option value="{{plata.idPlataform}}" >{{plata.name}}</option>
                }
             </select>
             <span class="form-text text-danger" *ngIf="isValid('idPlataform')">Este campo es obligatorio</span>
            </div>
            <label class="form-label formTitle" for="typeEmailX-2"><span class="oblig">*</span> Categories</label>
            <div class="input-group">
              <!--Listamos las catgeorias-->
             <select class="form-select" [formControl]="newCategory">
              <option value="" selected>--Select one category--</option>
              @for (category of categories; track $index) {
                 <option value="{{category.name}}">{{category.name}}</option>
                }
              </select>
              <button class="btn btn-lg btn-block addCategory" type="submit" (click)="addCategory()">Add</button>
            </div>
            <span class="form-text text-danger" *ngIf="isValid('categoriesList')">The field category required</span>
            <br>
            <!--Listamos las catgeorias que hemos seleccionado-->
             @for (cate of categoriesList.controls; track cate.value) {
            <div class="form-outline mb-4" formArrayName="categoriesList" class="input-group">
              
              <input type="text" id="stock" class="form-control form-control-lg" [formControlName]="$index" required/>
              <button class="btn btn-block delete" type="button" (click)="deleteCategory($index)">Delete</button>
            </div>
            <br>
            }
            <br>
            <div class="form-outline mb-4">
              <label class="form-label formTitle" for="typeEmailX-2"> Image</label>
              <input type="file" id="imagen" class="form-control form-control-lg" name="imagen" formControlName="image" (change)="getFile($event)"/>
              @if (id && videogameEdit && videogameEdit.image!=null) {
                <img src="{{videogameEdit.image}}" class="image">
              }
            </div>
            <!--Diferenciamos is estamos editando o añadiendo-->
            @if (id && videogameEdit) {
              <button class="btn btn-lg btn-block edit" type="submit" (click)="addGame()">Edit</button>
              <a class="btn btn-lg btn-block back" type="submit" routerLink="/details/{{videogameEdit.idVideogame}}">Volver</a>
            }@else {
              <button class="btn btn-lg btn-block add" type="submit" (click)="addGame()">Save</button>
          
            }
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




